# Core functionality - changes here should be rare!
/src/app.py                   @dhahriihazem
/src/backend/database.py      @dhahriihazem
/src/backend/routers/auth.py  @dhahriihazem

# The frontend will need refactored soon to be more object oriented.
/src/static/   @dhahriihazem
